@import 'tailwindcss';

@theme {
	--color-primary: #735557;
	--color-dark: #604652;
	--color-green: #97866A;
	--color-yellow: #D29F80;
}

main, .main {
	flex: 1 1 auto;
}

.container {
	max-width: 1180px;
	margin: auto;
}